<!--views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Node.js Blog</title>
  <link rel='stylsheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <style>
    body {
      padding-top: 20px;
      padding-bottom: 20 px;
    }
    .jumbotron {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div class='container'>
    <%- include('partials/navbar.ejs') %>
    <div class='jumbotron'>
      <h1>All about Node</h1>
      <p class='lead'>Check out our articles below!!</p>
    </div>

    <div clas 'row'>
      <div class col-lg-12>
        <div class='list-group'>
          <!-- loop over blog posts and render them -->
          LIST_OF_POSTS
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </div>
</body>

</html>







